body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  height: 100%;
  font-size: 14px;
  color: #202124;
  overflow: hidden;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 6px;
  height: 48px;
}

svg {
  fill: #5f6368;
  height: 24px;
  width: 24px;
}

#left-items {
  display: flex;
  align-items: center;
}

#right-items {
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-right: 4px;
}

#right-items .nav-item {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
}

#right-items a.nav-item {
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.nav-item a {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
}

.center {
  vertical-align: middle;
  padding-bottom: 4px;
}

span.nav-item {
  margin-right: 15px;
}

a.nav-item {
  margin-right: 15px;
}

#left-items span {
  padding: 5px;
  margin: 0 5px;
}

#left-items span:first-of-type {
  margin-left: 15px;
}

.bubble {
  padding: 4px;
}

.nav-item img {
  border-radius: 50%;
  padding: 4px;
}

.nav-item img:hover,
.nav-item#dots:hover {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
}

div#dots {
  display: flex;
  padding: 8px;
}

div.user {
  display: flex;
  align-content: center;
}

img#img {
  height: 184px;
  width: 445px;
}

.btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

div.bar {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 584px;
  height: 2.5rem;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

div.bar input.box {
  border: none;
}

.controller {
  max-width: 584px;
}

.input-btn {
  margin-top: 18px;
}

input.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
}

div.bar input.box,
div.bar input.box:hover,
div.bar input.box:focus,
div.bar input.box:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

div.bar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
